@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;

}


.App{
    min-height: 100vh;
   
    
    color: white;
}
.wrapper{
    width: 50vh;
    height: 65vh;
    background: #2E8B57;
    /* border: 1px solid red; */
    border-radius: 0.5rem;
   
}
.btn-add {
    width: 5rem;
    height: 4rem;
    background: #4F7942;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1.3rem;
}
.btn-add:hover{
    background: #00A36C;
}
.formInnerSection{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
     
}
.header h1{
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box{
    border: none;
    border-radius: 0.5rem;
    width: 17rem ;
    height: 3rem;
    font-size: 1.2rem;
    padding: 10px;}
.hr{
    background-color: #00A36C;

}
.form-page{
    margin: 1rem;
    padding: 1rem;
    width:auto;
    height: 2.5rem;
    background: #ffffff;
    color: black;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .form-page{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.itemList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

