.App{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #355E3B;
    color: white;
}
.wrapper{
    width: 50vh;
    height: 65vh;
    background: #2E8B57;
    /* border: 1px solid red; */
    border-radius: 0.5rem;
   
}
.btn-add {
    width: 5rem;
    height: 4rem;
    background: #4F7942;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1.3rem;
}
.btn-add:hover{
    background: #00A36C;
}
.formInnerSection{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
     
}
.header h1{
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box{
    border: none;
    border-radius: 0.5rem;
    width: 17rem ;
    height: 3rem;
    font-size: 1.2rem;
    padding: 10px;}
.hr{
    background-color: #00A36C;

}
